body h2 p h3 span h4 {
    font-family: Nunito, sans-serif!important;
}
.sec1  {
    position: relative;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.space-top img {
    position: absolute;
    top: 0px;
    left: 30px;
    max-width: 43%;
}

.caption-1 p{
    color: #87DFD6;
    max-width: 40%;
    font-size: 22px;
    line-height: 1.6;
    padding-left: 80px;
    padding-top: 60px;
    font-size: 25px;
}

.house-ticket {
    padding-top: 100px;
    padding-left: 30%;
}

.house-ticket-one {
    padding-top: 40px;
}

.caption {
    left: 2rem;
    top: 6rem;
    color: white;
}

.fa-sec {
    position: absolute;
    left: 2rem;
    top: 1rem;
}

.bg-transparent .navbar-brand img{
    max-width: 80%;
}

.circle img {
    max-width: 80%;
}

#content:before, 
#content:after, 
#content>:last-child:before, 
#content>:last-child:after {
    position: absolute;
    width: 75px; 
    height: 55px;
    border:  solid yellow;
    content: '';
}

.span{
    padding: 0;
    margin: 0;
}

#content{
  position:relative;
  max-width:40%;
  display: flex;
  padding: 4%;
  justify-content: left;
}

#content:before {
    top: 5px;
    left: 10px;
    border-width: 3px 0 0 3px
}

#content:after {
    top: 5px;
    right: 10px;
    border-width: 3px 3px 0 0
}

#content>:last-child:before {
    bottom: 5px;
    right: 10px;     
    border-width: 0 3px 3px 0
}

#content>:last-child:after {
    bottom: 5px;
    left: 10px;
    border-width: 0 0 3px 3px
}

.sec-2{
    background-color: black;
    color: white;
}

.block-4 .col-md-4 img {
    max-width: 100%!important;
}



@media only screen and (max-width: 768px){  
    .div2 p {
        max-width: 100%!important;
    } 
    .circle img {
        margin-top: -28%;
        max-width: 10%!important;
    }
    .caption-1 p{
        max-width: 100%!important;
        padding-left: 20px!important;
        padding-top: 40px!important;
    }
    .navbar-toggler-icon {
        color: #fff!important;

    }
    .navbar-toggler span {
        color: #fff!important;
    }
    .space-top img {
        position: absolute;
        top: 18%;
        left: 12px;
        max-width: 90%;
        height: 50%!important;
    }
    .house-ticket {
        padding-top: 100px;
        padding-left: 0!important;
        text-align: center!important;
}
    .space-top {
        padding-top: 31%;
        padding-bottom: 22%;
}
    .feature-section-inner {
        text-align: center!important;
    }
    .feature-section-inner h4 {
        font-size: 26px!important;
    }
    .serv-xc .col-md-4 {
        padding-bottom: 60px;
    }
    .inner-text-one {
        text-align: center!important;
        padding-bottom: 30px;
    }
    .inner-text {
        text-align: center!important;
        padding-bottom: 30px;
    }
    .inner-text h3 {
    border-bottom: 2px solid #FBFD8A;
    max-width: 6%;
    margin: auto;
    }
    .inner-text-one h3 {
    border-bottom: 2px solid #FBFD8A;
    max-width: 6%;
    margin: auto;
}
    .big-frame-event .desktop{
        display: none;
    }
    .big-frame-event .media{
        display: block!important;
    }
    .serv-xc .col-md-4 img {
        max-width: 100%!important;
    }
    .serv-xc .col-md-4  {
        text-align: center!important;
    }
    .big-frame-event .media {
        max-width: 100%!important;
    }
    .big-frame-event {
        text-align: center!important;
    }
    .block-4 .col-md-4 {
        text-align: center;
    }
    .block-4 h2 {
    font-size: 30px!important;
    }
    .block-4 {
        padding-top: 60px!important;
    }
    .big-frame-event {
        text-align: center!important;
    }
    .cv-0 {
        text-align: center!important;
        margin-top: -50px!important;
    }
    .ul-social-media-icons li img {
        max-width: 40%!important;
        margin-bottom: 40px!important;
    }
    .ul-social-media-icons  {
        padding-left: 20px!important;
    }
    .footer {
        padding-left: 40px!important;
        padding-bottom: 30px!important;
    }

}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .circle img {
        margin-top: 2%;
        max-width: 100%!important;
    }
     .space-top img {
        position: absolute;
        top: 26%;
        left: 12px;
        max-width: 70%;
        height: 40%!important;
    }
    .div2 p {
        max-width: 60%!important;
        padding-left: 30px!important;
    } 
    .house-ticket-one {
        padding-top: 80px!important;
        text-align: right!important;
    }
    .inner-text-one {
        text-align: left!important;
    }
    .inner-text {
        text-align: left!important;
    }
    .inner-text h3 {
        margin-left: 0px!important
    }
    .inner-text-one h3 {
        margin-left: 0px!important 
    }
    .feature-section-inner {
        text-align: left!important;
    }
    .img-sect img {
        padding-right: 5px!important;
    }
    .serv-xc .col-md-4 {
        padding-bottom: 0px!important;
    }
    .ul-social-media-icons li img {
        max-width: 12%!important;
        margin-bottom: 15px!important;
    }
   
}
.cv-0  {
    text-align: right;
}

.big-frame-event .ul-media{
        display: none;
        max-width: 100%!important;
    }
.big-frame-event .desktop{
        display: block!important;
}


/*  */

.bloc-3 img {
    max-width: 100%;
    /* height: 60%; */
}

.side-image img {
    max-width: 100%;
}

.side-image {
    text-align: center;
}

.inner-text {
    padding-top: 30px;
    text-align: left;
    /* padding-left: 20%; */
}

.inner-text h2 {
    color: #CCF8FB;
font-family: Nunito, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
}

.inner-text p {
    font-family: Nunito, sans-serif;
font-style: normal;
font-size: 16px;
line-height: 22px;
margin-bottom: 3px!important;
}

.inner-text h3 {
    border-bottom: 2px solid #FBFD8A;
    max-width: 6%;
}

.inner-text-one {
    padding-top: 30px;
    text-align: left;
    /* padding-left: 20%; */
}

.inner-text-one h2 {
    color: #CCF8FB;
font-family: Nunito, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
}

.inner-text-one p {
    font-family: Nunito, sans-serif;
font-style: normal;
font-size: 16px;
line-height: 22px;
margin-bottom: 3px!important;
}

.inner-text-one h3 {
    border-bottom: 2px solid #FBFD8A;
    max-width: 6%;
}

.btn-empty {
    border-radius: 0px!important;
    background-color: black;
    padding: 8px 25px!important;
    position: absolute;    
    margin-top: -5px; 
    margin-left: -5px;
    float: right;
    border: 1px solid #FBFD8A!important;
    
}


/*  */

/*  */

.big-frame-event {
    padding-top: 40px;
    padding-bottom: 10%;
}

.block-4 h2 {
    font-family: Orbitron;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 60px;
color: #87DFD6;
opacity: 0.34;
}

.block-4 {
    padding-top: 5%;
}



.btn-ticket {
background-color: #01A9B4;
color: #fff;
font-size: 16px;
text-align: center;
border-radius: 1px;
border: none!important;
padding: 8px 25px;
}



.ul-social-media-icons li {
display: inline!important;
list-style: none;
padding-right: 40px;
}

.ul-social-media-icons li img {
max-width: 8%;
}

.ul-social-media-icons {
    padding-left: 0px!important;
    padding-bottom: 30px;
    padding-top: 20px;
}

.foot {
    padding-top: 20px;
}

.footer {
padding-top: 30px;
}

.right-reserved {
    text-align: center;
padding-top: 6%;
padding-bottom: 60px;
}

.right-reserved h2 {
    font-size: 16px;
    color: #fff;
}
/*  */

.feature-section-inner {
    padding-top: 20px;
} 

.feature-section-inner h4 {
    margin-bottom: 2px!important;
    font-size: 20px;
}

.feature-section-inner .small {
    margin-bottom: 30px!important;
}

.img-sect {
    padding-top: 20px;
}

.img-sect img {
    padding-right: 15px;
}

.bk-image {
    background-image: url(../img/bk-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.div2 {
padding-top: 11%;
padding-bottom: 12%;
}

.div2 span {
    color: #fff!important;
}